@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainContainer {
    @apply flex flex-col justify-start items-start min-h-screen w-full p-4 lg:px-[100px] lg:py-12 flex-1;
  }

  .input {
    @apply w-full border-solid border-2 border-slate-500 h-11 rounded p-4 focus:border-slate-800 outline-none;
  }

  .input:focus {
    @apply border-secondary;
  }

  .errormsj {
    @apply text-slate-400 text-xs;
  }

  .select {
    @apply w-full px-3 py-1 border-solid border-2 border-slate-500 h-11 rounded focus:border-slate-800 outline-none bg-[url("../../src//assets/icons/select-arrow.png")] bg-no-repeat bg-[95%_center] block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    --tw-border-opacity: 1;
  }

  .option {
    @apply w-[280px];
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .registerBtn {
    @apply w-full rounded-full bg-secondary text-white py-2 px-4 cursor-pointer mt-8;
  }

  .registerBtn:disabled {
    @apply bg-red-100;
  }

  .filterRadioBtn {
    @apply w-full h-full z-10 flex items-center bg-red-50 absolute left-0 top-0 opacity-0 border-b-4 border-solid border-white cursor-pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    --tw-border-opacity: 1;
  }

  .ratingRadioBtn {
    @apply z-10 w-7 h-7 absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    --tw-border-opacity: 1;
  }

  .checkboxRating {
    @apply flex gap-3 text-sm lg:w-[252px];
  }
}
